export const environment = {
    oneSignal: {
        restApiKey: '',
        appId: ''
    },
    pusher: {
        appKey: '',
        cluster: '',
    },
    meetup: {
        browserClientId: '',
        cordovaClientId: '',
    },
    webDevs: {
        baseUrl: 'https://admin.sgfwebdevs.com'
    }
};
