page-home {

	.event-info {
		h3, p {
			color: #333;
		}

		h3 {
			font-weight: bold;
		}

		.date {
			color: map-get($colors, primary);
			font-weight: bold;
		}

		ion-avatar {
			align-self: end;
			position: relative;
			top: 20px;
		}
	}

	ion-row {
		align-items: center;
	}
}
