page-home {
	.item-md {
        h1 {
            font-weight: bold;
            font-size: 18px;
            color: #FFFFFF;
        }
		h2 {
			color: map-get($colors, primary);
			font-weight: bold;
		}

		p {
			color: black;
		}

        .description p {
            margin-bottom: 1em;
        }
	}

	.event-info {
		h3 {
			font-weight: bold;
		}

		.date {
			color: map-get($colors, primary);
			font-weight: bold;
		}
	}

	.event-info,
	attendee-list-item {
		.col[col-2] {
			text-align: right;
		}
	}
}
