
<ion-content>
    <ion-list scrollY="true" no-lines class="padding-fix">
        <ion-item class="user" color="grey-dark">
            <ion-avatar item-start>
                <img *ngIf="!currentUser" src="assets/imgs/profile.jpg">
                <img *ngIf="currentUser" [src]="currentUser.photo.thumb_link">
            </ion-avatar>

            <h1 *ngIf="currentUser">{{ currentUser.name }}</h1>

            <button ion-button block outline color="light" (click)="checkIn()" *ngIf="allowedToCheckin()">Check in</button>
            <!--<button ion-button block outline color="light" (click)="rsvp(latestMeetup.id)" *ngIf="showRsvpLink()">RSVP For The Next Meetup</button>-->
            <!--<button ion-button block outline color="danger" (click)="cancelRsvp(latestMeetup.id)" *ngIf="showCancelRsvp()">Cancel RSVP</button>-->
            <h3 *ngIf="checkedIn" text-wrap>You are checked in. Grab some pizza and enjoy the night!</h3>
        </ion-item>

        <ion-item class="event-info" color="primary-light" *ngIf="latestMeetup" (click)="toggleDescription()">
            <ion-grid>
                <ion-row>
                    <ion-col col-10>
                        <h3>{{ latestMeetup.name }}</h3>
                    </ion-col>
                    <ion-col col-2>
                        <p class="date">{{ formatDate(latestMeetup.time) }}</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-12>
                        <div text-wrap [ngClass]="showMore ? 'description' : 'description minimized'">
                            <div [innerHTML]="trimDescription(latestMeetup.description)"></div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item color="primary-light" *ngIf="!showMore" (click)="toggleDescription()">
            <ion-grid>                    
                <ion-row text-right>
                    <ion-col col-12>
                        <div>...Show More</div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item *ngIf="logging">
            <ion-grid>
                <ion-row>
                    <ion-col col-12>
                        Logs:
                        <p *ngFor="let log of logs">{{log}}</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <attendee-list-item *ngFor="let attendee of attendees" [attendee]="attendee"></attendee-list-item>
    </ion-list>
</ion-content>
