page-home {
	
	.event-info {
		background-color: #D4E4E6;

		h3, p {
			color: #333;
		}

		h3 {
			font-weight: bold;
		}

		.date {
			color: #71A7AD;
			font-weight: bold;
		}

		ion-avatar {
			align-self: end;
			position: relative;
			top: 20px;
		}
	}

	ion-row {
		align-items: center;
	}
}
