page-pre-checkin {
    h3{
        margin: 0;
    }
    .pad-top{
        padding-top: 1em;
    }
    .primary {
        color: map-get($colors, primary);
        font-weight: bold;
    }
    .grey-text{
        color: map-get($colors, grey-text);
    }
    hr{
       border-color: map-get($colors , grey-text);
    }
}
